--
-- PostgreSQL database dump
--

\restrict FkROeyUmG9Zpfc5eR9hCNEg7KLoRXfVf7WbY9g4WnF1PSLs3V0wIbLohP0oMlFm

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: hstore; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS hstore WITH SCHEMA public;


--
-- Name: EXTENSION hstore; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION hstore IS 'data type for storing sets of (key, value) pairs';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: application_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_documents (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    category character varying(255) NOT NULL,
    file_name character varying(255) NOT NULL,
    file_path character varying(255) NOT NULL,
    uploaded_at timestamp(6) without time zone,
    uploaded_by character varying(255),
    application_id uuid NOT NULL
);


ALTER TABLE public.application_documents OWNER TO postgres;

--
-- Name: interviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interviews (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    duration_minutes integer NOT NULL,
    feedback text,
    meeting_link text,
    rating integer,
    scheduled_at timestamp(6) without time zone NOT NULL,
    status character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    application_id uuid NOT NULL,
    interviewer_id uuid NOT NULL,
    CONSTRAINT interviews_status_check CHECK (((status)::text = ANY ((ARRAY['SCHEDULED'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying, 'NO_SHOW'::character varying])::text[]))),
    CONSTRAINT interviews_type_check CHECK (((type)::text = ANY ((ARRAY['SCREENING'::character varying, 'TECHNICAL'::character varying, 'HR'::character varying, 'CLIENT_ROUND'::character varying, 'FINAL'::character varying])::text[])))
);


ALTER TABLE public.interviews OWNER TO postgres;

--
-- Name: job_application_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_application_skills (
    job_application_id uuid NOT NULL,
    skills character varying(255)
);


ALTER TABLE public.job_application_skills OWNER TO postgres;

--
-- Name: job_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_applications (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    current_company character varying(255),
    current_title character varying(255),
    email character varying(255) NOT NULL,
    experience_years double precision,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    linkedin_url character varying(255),
    location character varying(255),
    phone character varying(255),
    portfolio_url character varying(255),
    resume_url character varying(255),
    status character varying(255) NOT NULL,
    job_id uuid NOT NULL,
    vendor_org_id uuid,
    resume_file_path character varying(255),
    resume_text text,
    unread_count_for_admin integer,
    CONSTRAINT job_applications_status_check CHECK (((status)::text = ANY ((ARRAY['APPLIED'::character varying, 'SHORTLISTED'::character varying, 'INTERVIEW_SCHEDULED'::character varying, 'INTERVIEW_PASSED'::character varying, 'INTERVIEW_FAILED'::character varying, 'OFFERED'::character varying, 'ONBOARDING_IN_PROGRESS'::character varying, 'ONBOARDED'::character varying, 'REJECTED'::character varying, 'DROPPED'::character varying])::text[])))
);


ALTER TABLE public.job_applications OWNER TO postgres;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    ai_insights jsonb,
    bill_rate numeric(38,2),
    description text,
    employment_type character varying(255),
    experience character varying(255),
    pay_rate numeric(38,2),
    requirements text,
    roles_and_responsibilities text,
    skills text,
    status character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    org_id uuid NOT NULL,
    CONSTRAINT jobs_employment_type_check CHECK (((employment_type)::text = ANY ((ARRAY['FTE'::character varying, 'CONTRACT'::character varying, 'C2H'::character varying, 'INTERN'::character varying, 'PART_TIME'::character varying])::text[]))),
    CONSTRAINT jobs_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'SUBMITTED'::character varying, 'ADMIN_VERIFIED'::character varying, 'TA_ENRICHED'::character varying, 'ADMIN_FINAL_VERIFIED'::character varying, 'PUBLISHED'::character varying, 'PAUSED'::character varying, 'CLOSED'::character varying])::text[])))
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    body character varying(255),
    read_at timestamp(6) without time zone,
    ref_entity_id uuid,
    ref_entity_type character varying(255),
    title character varying(255) NOT NULL,
    recipient_user_id uuid NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: onboarding_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.onboarding_documents (
    onboarding_id uuid NOT NULL,
    document_url character varying(255)
);


ALTER TABLE public.onboarding_documents OWNER TO postgres;

--
-- Name: onboardings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.onboardings (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    start_date date,
    status character varying(255),
    updated_at timestamp(6) without time zone,
    application_id uuid NOT NULL,
    CONSTRAINT onboardings_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING_DOCS'::character varying, 'VERIFICATION_PENDING'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.onboardings OWNER TO postgres;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    address_line1 character varying(255),
    address_line2 character varying(255),
    city character varying(255),
    contact_person_designation character varying(255),
    contact_person_email character varying(255),
    contact_person_name character varying(255),
    contact_person_phone character varying(255),
    country character varying(255),
    description character varying(2000),
    email character varying(255),
    employee_count integer,
    industry character varying(255),
    key_clients character varying(1000),
    legal_name character varying(255),
    logo_url character varying(255),
    name character varying(255) NOT NULL,
    notes character varying(255),
    phone character varying(255),
    postal_code character varying(255),
    referral_source character varying(255),
    registration_doc_url character varying(255),
    registration_number character varying(255),
    service_offerings character varying(1000),
    state character varying(255),
    status character varying(255) NOT NULL,
    tax_doc_url character varying(255),
    tax_id character varying(255),
    type character varying(255) NOT NULL,
    website character varying(255),
    years_in_business integer,
    CONSTRAINT organizations_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING_VERIFICATION'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'SUSPENDED'::character varying])::text[]))),
    CONSTRAINT organizations_type_check CHECK (((type)::text = ANY ((ARRAY['SOLVENTEK'::character varying, 'VENDOR'::character varying, 'CLIENT'::character varying])::text[])))
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    code character varying(255) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: project_allocations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_allocations (
    id uuid NOT NULL,
    allocation_percentage integer,
    billing_role character varying(255),
    end_date date,
    start_date date,
    status character varying(255),
    project_id uuid NOT NULL,
    user_id uuid NOT NULL,
    CONSTRAINT project_allocations_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'ENDED'::character varying, 'PLANNED'::character varying])::text[])))
);


ALTER TABLE public.project_allocations OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id uuid NOT NULL,
    description character varying(255),
    end_date date,
    name character varying(255) NOT NULL,
    start_date date,
    status character varying(255),
    client_org_id uuid,
    internal_org_id uuid NOT NULL,
    CONSTRAINT projects_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'COMPLETED'::character varying, 'ON_HOLD'::character varying, 'PLANNED'::character varying])::text[])))
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: resume_analysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resume_analysis (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    analyzed_at timestamp(6) without time zone,
    application_id uuid NOT NULL,
    authorship_risk_score integer,
    confidence_score integer,
    evidence_json jsonb,
    interview_questions_json jsonb,
    model character varying(255),
    overall_consistency_score integer,
    overall_risk_score integer,
    project_credibility_risk_score integer,
    red_flags_json jsonb,
    skill_inflation_risk_score integer,
    summary text,
    timeline_risk_score integer,
    verification_priority_score integer,
    version integer
);


ALTER TABLE public.resume_analysis OWNER TO postgres;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    role_id uuid NOT NULL,
    permission_code character varying(255) NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    description character varying(255),
    name character varying(255) NOT NULL,
    org_id uuid
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: ticket_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ticket_comments (
    id uuid NOT NULL,
    message character varying(4096) NOT NULL,
    sent_at timestamp(6) with time zone NOT NULL,
    sender_id uuid NOT NULL,
    ticket_id uuid NOT NULL
);


ALTER TABLE public.ticket_comments OWNER TO postgres;

--
-- Name: ticket_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ticket_history (
    id uuid NOT NULL,
    changed_at timestamp(6) with time zone NOT NULL,
    new_status character varying(255) NOT NULL,
    old_status character varying(255),
    changed_by_id uuid NOT NULL,
    ticket_id uuid NOT NULL,
    CONSTRAINT ticket_history_new_status_check CHECK (((new_status)::text = ANY ((ARRAY['OPEN'::character varying, 'IN_PROGRESS'::character varying, 'PENDING_APPROVAL'::character varying, 'PENDING_VENDOR'::character varying, 'PENDING_CLIENT'::character varying, 'RESOLVED'::character varying, 'CLOSED'::character varying, 'REJECTED'::character varying])::text[]))),
    CONSTRAINT ticket_history_old_status_check CHECK (((old_status)::text = ANY ((ARRAY['OPEN'::character varying, 'IN_PROGRESS'::character varying, 'PENDING_APPROVAL'::character varying, 'PENDING_VENDOR'::character varying, 'PENDING_CLIENT'::character varying, 'RESOLVED'::character varying, 'CLOSED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.ticket_history OWNER TO postgres;

--
-- Name: tickets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tickets (
    id uuid NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    description character varying(4096) NOT NULL,
    is_escalated boolean NOT NULL,
    priority character varying(255) NOT NULL,
    related_entity_id uuid,
    status character varying(255) NOT NULL,
    subject character varying(255) NOT NULL,
    ticket_number character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    unread_count_admin integer DEFAULT 0 NOT NULL,
    unread_count_employee integer DEFAULT 0 NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    assigned_to_id uuid,
    employee_id uuid NOT NULL,
    target_org_id uuid NOT NULL,
    CONSTRAINT tickets_priority_check CHECK (((priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[]))),
    CONSTRAINT tickets_status_check CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'IN_PROGRESS'::character varying, 'PENDING_APPROVAL'::character varying, 'PENDING_VENDOR'::character varying, 'PENDING_CLIENT'::character varying, 'RESOLVED'::character varying, 'CLOSED'::character varying, 'REJECTED'::character varying])::text[]))),
    CONSTRAINT tickets_type_check CHECK (((type)::text = ANY ((ARRAY['ONBOARDING'::character varying, 'PAYROLL'::character varying, 'TIMESHEET'::character varying, 'CONTRACT'::character varying, 'VISA'::character varying, 'C2H_CONVERSION'::character varying, 'CLIENT_ISSUE'::character varying, 'VENDOR_ISSUE'::character varying, 'ASSET'::character varying, 'LEAVE'::character varying, 'DOCUMENT'::character varying, 'FEEDBACK'::character varying, 'COMPLAINT'::character varying, 'OTHER'::character varying])::text[])))
);


ALTER TABLE public.tickets OWNER TO postgres;

--
-- Name: timeline_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.timeline_events (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    action character varying(255) NOT NULL,
    actor_user_id uuid,
    entity_id uuid NOT NULL,
    entity_type character varying(255) NOT NULL,
    message character varying(255),
    metadata jsonb,
    org_id uuid,
    title character varying(255)
);


ALTER TABLE public.timeline_events OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    account_locked boolean,
    city character varying(255),
    country character varying(255),
    state character varying(255),
    street character varying(255),
    zip_code character varying(255),
    account_number character varying(255),
    bank_name character varying(255),
    branch_name character varying(255),
    ifsc_code character varying(255),
    created_by character varying(255),
    date_of_birth date,
    date_of_exit date,
    date_of_joining date,
    department character varying(255),
    designation character varying(255),
    email character varying(255) NOT NULL,
    emergency_contact_email character varying(255),
    emergency_contact_name character varying(255),
    emergency_contact_phone character varying(255),
    emergency_contact_relationship character varying(255),
    employee_code character varying(255),
    employment_status character varying(255),
    employment_type character varying(255),
    enabled boolean,
    failed_login_attempts integer,
    first_name character varying(255) NOT NULL,
    gender character varying(255),
    grade_level character varying(255),
    last_login_at timestamp(6) with time zone,
    last_name character varying(255) NOT NULL,
    lock_until timestamp(6) with time zone,
    password_hash character varying(255) NOT NULL,
    password_updated_at timestamp(6) with time zone,
    phone character varying(255),
    profile_photo_url character varying(255),
    tax_id_pan character varying(255),
    updated_by character varying(255),
    username character varying(255),
    work_location character varying(255),
    manager_id uuid,
    org_id uuid NOT NULL,
    role_id uuid,
    CONSTRAINT users_employment_status_check CHECK (((employment_status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying, 'ON_NOTICE'::character varying, 'TERMINATED'::character varying, 'RESIGNED'::character varying, 'ON_LEAVE'::character varying])::text[]))),
    CONSTRAINT users_employment_type_check CHECK (((employment_type)::text = ANY ((ARRAY['FTE'::character varying, 'CONTRACT'::character varying, 'C2H'::character varying, 'INTERN'::character varying, 'PART_TIME'::character varying])::text[]))),
    CONSTRAINT users_gender_check CHECK (((gender)::text = ANY ((ARRAY['MALE'::character varying, 'FEMALE'::character varying, 'OTHER'::character varying, 'PREFER_NOT_TO_SAY'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: vector_store; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vector_store (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    content text,
    metadata json,
    embedding public.vector(768)
);


ALTER TABLE public.vector_store OWNER TO postgres;

--
-- Name: application_documents application_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_documents
    ADD CONSTRAINT application_documents_pkey PRIMARY KEY (id);


--
-- Name: interviews interviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_pkey PRIMARY KEY (id);


--
-- Name: job_applications job_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: onboardings onboardings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboardings
    ADD CONSTRAINT onboardings_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (code);


--
-- Name: project_allocations project_allocations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_allocations
    ADD CONSTRAINT project_allocations_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: resume_analysis resume_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_analysis
    ADD CONSTRAINT resume_analysis_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_code);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: ticket_comments ticket_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_comments
    ADD CONSTRAINT ticket_comments_pkey PRIMARY KEY (id);


--
-- Name: ticket_history ticket_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT ticket_history_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: timeline_events timeline_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timeline_events
    ADD CONSTRAINT timeline_events_pkey PRIMARY KEY (id);


--
-- Name: tickets uk4ks48wgrew48dpkh0wd1rbe2b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT uk4ks48wgrew48dpkh0wd1rbe2b UNIQUE (ticket_number);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: onboardings ukn25d3o0mqh8u1fgbl4368tvey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboardings
    ADD CONSTRAINT ukn25d3o0mqh8u1fgbl4368tvey UNIQUE (application_id);


--
-- Name: users ukob2dx53vn966ek0roock2539f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukob2dx53vn966ek0roock2539f UNIQUE (employee_code);


--
-- Name: organizations ukp9pbw3flq9hkay8hdx3ypsldy; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT ukp9pbw3flq9hkay8hdx3ypsldy UNIQUE (name);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vector_store vector_store_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vector_store
    ADD CONSTRAINT vector_store_pkey PRIMARY KEY (id);


--
-- Name: spring_ai_vector_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX spring_ai_vector_index ON public.vector_store USING hnsw (embedding public.vector_cosine_ops);


--
-- Name: project_allocations fk2qjlqxbiyc5p8e30dm7r1ag52; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_allocations
    ADD CONSTRAINT fk2qjlqxbiyc5p8e30dm7r1ag52 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users fk5p1ci5btqfwvtaqx5n2wxi182; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk5p1ci5btqfwvtaqx5n2wxi182 FOREIGN KEY (manager_id) REFERENCES public.users(id);


--
-- Name: job_application_skills fk6c1e3vpuho660v73dpyof9cem; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_application_skills
    ADD CONSTRAINT fk6c1e3vpuho660v73dpyof9cem FOREIGN KEY (job_application_id) REFERENCES public.job_applications(id);


--
-- Name: project_allocations fk6t1p8ypdrwo1y2altesnt7o06; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_allocations
    ADD CONSTRAINT fk6t1p8ypdrwo1y2altesnt7o06 FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: onboardings fk7ei4uv56moe67tw564tae62gh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboardings
    ADD CONSTRAINT fk7ei4uv56moe67tw564tae62gh FOREIGN KEY (application_id) REFERENCES public.job_applications(id);


--
-- Name: users fk902wn47cndp7hjhfvvb48brg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk902wn47cndp7hjhfvvb48brg FOREIGN KEY (org_id) REFERENCES public.organizations(id);


--
-- Name: interviews fk9xllui3e3lhrxkfmffxdc37yw; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT fk9xllui3e3lhrxkfmffxdc37yw FOREIGN KEY (interviewer_id) REFERENCES public.users(id);


--
-- Name: projects fkcftexhkt8grye64fbfaqr2btk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fkcftexhkt8grye64fbfaqr2btk FOREIGN KEY (client_org_id) REFERENCES public.organizations(id);


--
-- Name: jobs fkcmscyfq2w9afoexg33ps1h08j; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT fkcmscyfq2w9afoexg33ps1h08j FOREIGN KEY (org_id) REFERENCES public.organizations(id);


--
-- Name: ticket_comments fkdoce3fj1osdn71h25dhfs160v; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_comments
    ADD CONSTRAINT fkdoce3fj1osdn71h25dhfs160v FOREIGN KEY (ticket_id) REFERENCES public.tickets(id);


--
-- Name: roles fkfaerb2evf6ya1atasp3e9d1e2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT fkfaerb2evf6ya1atasp3e9d1e2 FOREIGN KEY (org_id) REFERENCES public.organizations(id);


--
-- Name: ticket_comments fkgtdt4nd0qrikaihxbv222g9g0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_comments
    ADD CONSTRAINT fkgtdt4nd0qrikaihxbv222g9g0 FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: interviews fkhejw7ucaax75651ee2p9i8as0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT fkhejw7ucaax75651ee2p9i8as0 FOREIGN KEY (application_id) REFERENCES public.job_applications(id);


--
-- Name: projects fkhusenrpggw6jxp1jnfgvl8at; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fkhusenrpggw6jxp1jnfgvl8at FOREIGN KEY (internal_org_id) REFERENCES public.organizations(id);


--
-- Name: role_permissions fkiw788lbqjaqfhn6afcw7i6ipe; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fkiw788lbqjaqfhn6afcw7i6ipe FOREIGN KEY (permission_code) REFERENCES public.permissions(code);


--
-- Name: tickets fkjjurqucxjuc204e21dyx7g9c0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT fkjjurqucxjuc204e21dyx7g9c0 FOREIGN KEY (target_org_id) REFERENCES public.organizations(id);


--
-- Name: ticket_history fkkkhg6aquudxfcbofalx8rtc6v; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT fkkkhg6aquudxfcbofalx8rtc6v FOREIGN KEY (ticket_id) REFERENCES public.tickets(id);


--
-- Name: timeline_events fkl4pgena3jdxp2jsjx6c5r1cl3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timeline_events
    ADD CONSTRAINT fkl4pgena3jdxp2jsjx6c5r1cl3 FOREIGN KEY (org_id) REFERENCES public.organizations(id);


--
-- Name: ticket_history fklaoduerd9u54jbtqpcninknoy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT fklaoduerd9u54jbtqpcninknoy FOREIGN KEY (changed_by_id) REFERENCES public.users(id);


--
-- Name: role_permissions fkn5fotdgk8d1xvo8nav9uv3muc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fkn5fotdgk8d1xvo8nav9uv3muc FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: application_documents fkn79khrlly60ykj8chkpj64wwa; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_documents
    ADD CONSTRAINT fkn79khrlly60ykj8chkpj64wwa FOREIGN KEY (application_id) REFERENCES public.job_applications(id);


--
-- Name: tickets fkoxyg346656kskqnyp2bvtk6l7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT fkoxyg346656kskqnyp2bvtk6l7 FOREIGN KEY (employee_id) REFERENCES public.users(id);


--
-- Name: tickets fkp0yqkqtkkwu2c92h784tfwf77; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT fkp0yqkqtkkwu2c92h784tfwf77 FOREIGN KEY (assigned_to_id) REFERENCES public.users(id);


--
-- Name: users fkp56c1712k691lhsyewcssf40f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fkp56c1712k691lhsyewcssf40f FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: job_applications fkqt4m3c9yiioi16kwsyjrl0cpl; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT fkqt4m3c9yiioi16kwsyjrl0cpl FOREIGN KEY (job_id) REFERENCES public.jobs(id);


--
-- Name: onboarding_documents fkrr7vu5jqwl24dpe89d0yymxox; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboarding_documents
    ADD CONSTRAINT fkrr7vu5jqwl24dpe89d0yymxox FOREIGN KEY (onboarding_id) REFERENCES public.onboardings(id);


--
-- Name: notifications fkt8ievafor22iuvg5sd4p7lhbk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fkt8ievafor22iuvg5sd4p7lhbk FOREIGN KEY (recipient_user_id) REFERENCES public.users(id);


--
-- Name: job_applications fkybix1g70ux04j7ebyejdferg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT fkybix1g70ux04j7ebyejdferg FOREIGN KEY (vendor_org_id) REFERENCES public.organizations(id);


--
-- PostgreSQL database dump complete
--

\unrestrict FkROeyUmG9Zpfc5eR9hCNEg7KLoRXfVf7WbY9g4WnF1PSLs3V0wIbLohP0oMlFm

